<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li>事業内容</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    株式会社トライズの事業内容
  </h3>
  

</div>


<%= render 'tops/bottom' %>