<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "会社概要", companies_path %></li>
    <li>></li>
    <li>代表挨拶</li>
  </ul>
</div>


<div class="main">
  <h3 class="itle">
    代表挨拶
  </h3>
  <div class="messages">
    <div class="message">
      <p>早いもので会社を立上げて9期目を迎えました。</p>
      <p>
      創業当初は、立上げた会社がここまで続くとは思いませんでしたが、<br>
      これも、従業員や周りの皆様の温かい御声援、御協力により何とかここまで頑張ってこれました。<br>
      ゆっくりではありますが、1段1段、階段を確実に昇ってきたつもりです。<br>
      当初は、高知の田舎から上阪し、会社を立上げるまでになるとは夢にも思っていませんでしたが、<br>
      ふと、頭に浮かんだのが、土佐藩(高知県)出身で幕末で活躍した坂本龍馬、中岡慎太郎、武市半平太、 後藤象二郎、板垣退助・・・<br>
      日本の巨大財閥の1つ、大企業の三菱グループ創業者、岩崎弥太郎、アメリカに渡ったジョン万次郎等<br>
      そうそうたる偉人が出身の地。<br>
      皆、志高くその時代を生きた人たちです。 私も同郷で脱藩?して大阪に渡って来た身。<br>
      私の心の師であり目標の坂本龍馬・岩崎弥太郎。先人たちに負けぬよう、<br>
      従業員共々より一層、努力・精進して今の時代に名を残せるような会社にしたいと思っております。<br>
      まだまだ吹けば飛ぶような小さい会社ではございますが、デッカイ志を持って 社会に貢献していきたいと思います。
      </p>
    </div>
    <div class="photo">
      <img src="message.jpg">
      <p>代表取締役社長 大田 隆廣</p>
    </div>
  </div>
</div>


<%= render 'tops/bottom' %>