<%= render 'tops/top' %>

<div class="navbar">
  <span><%= link_to "HOME", root_path %></span>
  <span>></span>
  <span><%= link_to "会社概要", root_path %></span>
  <span>></span>
  <span>代表挨拶</span>
</div>

<%= render 'tops/bottom' %>