    <header>
      <div class="top">
        <h1>クリーン事業をお探しなら株式会社トライズにお任せください！</h1>
      </div>
      <div class="info">
        <div class="logo">
          <img src="logo.png">
        </div>
        <div class="contact">
          <p>TEL:06-6845-7782<br>
             FAX:06-6845-7783</p>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li>TOP</li>
          <li>事業内容</li>
          <li>工事実績</li>
          <li>会社概要</li>
          <li>採用情報</li>
        </ul>
      </div>
    </header>