<%= render 'tops/top' %>
<div class="single-item">
  <figure><img src="top_rinen.jpg" /></figure>
  <figure><img src="top_cllean.jpg" /></figure>
  <figure><img src="top_setubi.jpg" /></figure>
  <figure><img src="top_tuusin.jpg" /></figure>
</div>