<%= render 'tops/top' %>
<ul class="slider">
  <li><img src="top_rinen.jpg" alt="top_rinen"></li>
  <li><img src="top_cllean.jpg" alt="top_cllean"></li>
  <li><img src="top_setubi.jpg" alt="top_setubi"></li>
  <li><img src="top_tuusin.jpg" alt="top_tuusin"></li>
</ul>
<div class="">