<%= render 'tops/top' %>
<ul class="slider">
  <li><img src="top_rinen.jpg" alt="top_rinen"></li>
  <li><img src="top_cllean.jpg" alt="top_cllean"></li>
  <li><img src="top_setubi.jpg" alt="top_setubi"></li>
  <li><img src="top_tuusin.jpg" alt="top_tuusin"></li>
</ul>
<div class="container">
  <div class="cont-title">
    <h1>事業内容</h1>
  <div>
  <div class="row">
    <div class="business col-sm-4">
      <img src="top_product_im04.jpg">
      <h4><%= link_to "クリーン事業", root_path %></h4>
      <p>クリーンルーム内設備を設計から施工管理までトータルにて承ります。これまでに培ってきた多くの実績を生かし、お客様の様々なご要望にお応え致します。</p>
    </div>
    <div class="business col-sm-4">
      <img src="top_product_im02.jpg">
      <h4><%= link_to "建築設備事業", root_path %></h4>
      <p>ダイヤモンド穿孔の施工をトータルに承ります。これまで数々の現場で培ってきた多くの実績を生かし、お客様の様々なご要望にお応え致します。</p>
    </div>
    <div class="business col-sm-4">
      <img src="top_product_im03.jpg">
      <h4><%= link_to "通信事業", root_path %></h4>
      <p>集合住宅向けインターネット環境設備 の導入に伴う調査、施工、構築までの一連の業務。その他テレビ配等の通信工事を行います。</p>
    </div>
  </div>
  <table class="table table-hover">
  
  </table>
</div>