<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li>会社概要</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    会社概要
  </h3>
  
  <%= render 'form', contact: @contact %>

</div>


<%= render 'tops/bottom' %>
