<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "事業内容", services_path %></li>
    <li>></li>
    <li>通信事業</li>
  </ul>
</div>

<div class="business-photo">
  <img src="top_tuusin.jpg">
</div>

<div class="main">
  <h3 class="title">
    通信事業
  </h3>

  <div class="electricities-inner1">
    <div class="electricities-photo">
      <img src="tuusin.jpg">
    </div>
    <div class="right-cont">
      <h4 class="electricities-title">
        <span>01</span>
        通信設備工事
      </h4>
      <p>
        集合住宅向けインターネット設備工事やテレビ工事等通信設備に<br>
        関することはお問い合わせください。<br>
        個人宅でも現状設備からのLANケーブルの延長・増設・情報コンセントの<br>
        設置・無線Wi-Fi取付工事・テレビケーブルの延長・ 増設等通信設備の様々な<br>
        工事を行ってます。
      </p>
    </div>
  </div>

    <div class="electricities-inner2">
    <div class="left-cont">
      <h4 class="electricities-title">
        <span>02</span>
        ホームページ作成
      </h4>
      <p>
        <br>
        <br>
        <br>
        <br>
        <br>
      </p>
    </div>
    <div class="electricities-photo">
      <img src="preparation.jpg">
    </div>
  </div>

</div>

<%= render 'tops/bottom' %>