<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li>会社概要</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    会社概要
  </h3>

  <div class="companies">
    <div class="company">
      <p>
        株式会社トライズは、クリーンルームに特化した作業から、<br>
        クリーンルーム設備関連の販売、システム天井の設計施工、<br>
        耐震対策工事、各種金物の製作、ダイヤモンド穿孔、<br>
        インターネット工事 など、幅広い業務を展開しています。<br>
        こちらでは、当社の概要等についてご紹介していますので、<br>
        ご一読ください。
      </p>
    </div>
    <div class="company-photo">
      <img src="employee.jpg">
    </div>
  </div>

  <h3 class="title">
    会社情報
  </h3>

  <div class="company-info">
    <table class="details-info">
      <tr>
        <th style="cellmargin:0;">商号</th>
        <td>株式会社トライズ</td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>代表取締役社長 大田 隆廣</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>500万円</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>H23年7月</td>
      </tr>
      <tr>
        <th>従業員数</th>
        <td>４名</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>
          <br>
          本社：大阪府豊中市岡町南1-6-13<br>
          &emsp;&emsp;&emsp;ダイヤコート豊中103<br>
          TEL：06-6845-7782<br>
          FAX：06-6845-7783<br>
          <br>
        </td>
      </tr>
    </table>

    <div class="access">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.157231218621!2d135.46143181566705!3d34.77681688664458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000fab38ca58f83%3A0x3d32494103a63b!2z44CSNTYxLTA4ODMg5aSn6Ziq5bqc6LGK5Lit5biC5bKh55S65Y2X77yR5LiB55uu77yW4oiS77yR77yTIOODgOOCpOODpOOCs-ODvOODiOixiuS4rQ!5e0!3m2!1sja!2sjp!4v1588532630613!5m2!1sja!2sjp" width="650" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>

</div>


<%= render 'tops/bottom' %>