<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "事業内容", services_path %></li>
    <li>></li>
    <li>建築設備事業</li>
  </ul>
</div>

<div class="business-photo">
  <img src="top_setubi.jpg">
</div>

<div class="main">
  <h3 class="title">
    建築設備事業
  </h3>

  <div class="engineers-inner1">
    <div class="engineers-photo">
      <img src="daiyamondo.jpg">
    </div>
    <div class="right-cont">
      <h4 class="engineers-title">
        <span>01</span>
        ダイヤモンド穿孔
      </h4>
      <p>
        小口径(~160)に特化した穿孔ならお任せください。<br>
        壁・梁・床・地下ピット・地中梁等 材質なら<br>
        コンクリート・ブロック・ALC・メース等<br>
        多岐にわたり穿孔いたします。
      </p>
    </div>
  </div>

  <div class="engineers-inner2">
    <div class="left-cont">
      <h4 class="engineers-title">
        <span>02</span>
        斫り
      </h4>
      <p>
        ダクト貫通用・配管用・電気配線用溝斫り等<br>
        専門業者に任せるにはちょっと・・・というような<br>
        ちょっとした斫りならお任せください。
      </p>
    </div>
    <div class="engineers-photo">
      <img src="preparation.jpg">
    </div>
  </div>

  <div class="engineers-inner1">
    <div class="engineers-photo">
      <img src="kanamono.jpg">
    </div>
    <div class="right-cont">
      <h4 class="engineers-title">
        <span>03</span>
        各種金物製作
      </h4>
      <p>
        提携工場と連携し様々な金物を製作します。<br>
        製作図面をご用意願います。なければこちらで作図も可能です。
      </p>
    </div>
  </div>

  <div class="engineers-inner2">
    <div class="left-cont">
      <h4 class="engineers-title">
        <span>04</span>
        サーバーラックキャッピング工事
      </h4>
      <p>
        サーバー室に設置のサーバーラックをキャッピングし<br>
        温度管理(HOT側・COOL側)に分けサーバーを熱から<br>
        保護する役割をします。
      </p>
    </div>
    <div class="engineers-photo">
      <img src="preparation.jpg">
    </div>
  </div>

  <div class="engineers-inner3">
    <div class="engineers-photo">
      <img src="zatusagyou.jpg">
    </div>
    <div class="right-cont">
      <h4 class="engineers-title">
        <span>05</span>
        雑作業等
      </h4>
      <p>
        手元作業員・雑作業等上記に記載されていないことで<br>
        ちょっとした作業等あればお気軽にお問い合わせください。
      </p>
    </div>
  </div>

</div>

<%= render 'tops/bottom' %>