<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li>プライバシーポリシー</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    プライバシーポリシー
  </h3>

  <div class="privacies">
    <ul class="privacy">
      <li>
        株式会社トライズ(以下，「当社」といいます。)は，本ウェブサイト上で提供するサービス(以下,「本サービス」といいます。)における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー(以下，「本ポリシー」といいます。)を定めます。
      </li>
      <li>
        第1条(個人情報)「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報で あって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個 人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情 報単体から特定の個人を識別できる情報(個人識別情報)を指します。
      </li>
      <li>
        第2条(個人情報の収集方法) 当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座 番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユー ザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,当社の提 携先(情報提供元，広告主，広告配信先などを含みます。以下，「提携先」といいます。)などから収集 することがあります。
      </li>
      <li>
        第3条(個人情報を収集・利用する目的) 当社が個人情報を収集・利用する目的は，以下のとおりです。
      </li>
      <li>
        当社サービスの提供・運営のため ユーザーからのお問い合わせに回答するため(本人確認を行うことを含む) ユーザーが利用中のサービスの新機能，更新情報，キャンペーン等及び当社が提供する他のサービスの 案内のメールを送付するため メンテナンス，重要なお知らせなど必要に応じたご連絡のたついて，あらかじめ本人に通知し，または 本人が容易に知り得る状態に置いた場合
      </li>
    </ul>
  </div>

</div>


<%= render 'tops/bottom' %>