<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "事業内容", services_path %></li>
    <li>></li>
    <li>クリーン事業</li>
  </ul>
</div>

<div class="business-photo">
  <img src="top_cllean.jpg">
</div>

<div class="main">
  <h3 class="title">
    クリーン事業
  </h3>

  <div class="constructions-inner1">
    <div class="constructions-photo">
      <img src="system.jpg">
    </div>
    <div class="right-cont">
      <h4 class="constructions-title">
        <span>01</span>
        システム天井の設置
      </h4>
      <p>
        クリーンルーム他様々な天井への設置が可能です。
        枠内にパネルやFFU・フィルタ等を設置しアルミフレーム<br>
        なので見た目がすっきりし、室内をクリーンな環境に保ちます。<br>
      </p>
    </div>
  </div>

  <div class="constructions-inner2">
    <div class="left-cont">
      <h4 class="constructions-title">
        <span>02</span>
        高性能フィルタの販売・取付・交換
      </h4>
      <p>
        様々な形状・寸法にカスタマイズできます。<br>
        販売から取付・交換まで一貫して行います。
      </p>
    </div>
    <div class="constructions-photo">
      <img src="filter.jpg">
    </div>
  </div>

  <div class="constructions-inner1">
    <div class="constructions-photo">
      <img src="preparation.jpg">
    </div>
    <div class="right-cont">
      <h4 class="constructions-title">
        <span>03</span>
        クリーン機器の販売・交換・設置
      </h4>
      <p>
        ただいま準備中です。
      </p>
    </div>
  </div>

  <div class="constructions-inner3">
    <div class="left-cont">
      <h4 class="constructions-title">
        <span>04</span>
        各種測定作業
      </h4>
    </div>
    <div class="constructions-various">
      <div class="row">
        <div class="constructions-contents col-sm-4">
          <p>漏洩試験(リーク測定)</p>
          <img src="rouei.jpg">
        </div>
        <div class="constructions-contents col-sm-4">
          <p>風量測定(風速測定)</p>
          <img src="huryou.jpg">
        </div>
        <div class="constructions-contents col-sm-4">
          <p>清浄度試験</p>
          <img src="senzyou.jpg">
        </div>
      </div>
    </div>
    <div class="constructions-various">
      <div class="row">
        <div class="constructions-contents col-sm-4">
          <p>温湿度試験</p>
          <img src="onsitudo.jpg">
        </div>
        <div class="constructions-contents col-sm-4">
          <p>室圧測定</p>
          <img src="preparation.jpg">
        </div>
        <div class="constructions-contents col-sm-4">
          <p>騒音測定</p>
          <img src="souon.jpg">
        </div>
      </div>
    </div>
  </div>


</div>

<%= render 'tops/bottom' %>