<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li>採用情報</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    採用情報
  </h3>
  <table>
    <tr>
      <th style="cellmargin:0;">雇用形態</th>
      <td>正社員雇用<br>※3ヶ月間の使用期間あり</td>
    </tr>
    <tr>
      <th>勤務地</th>
      <td>大阪府豊中市岡町南1-6-13</td>
    </tr>
    <tr>
      <th>勤務時間</th>
      <td>8:30～17:45</td>
    </tr>
    <tr>
      <th>休日</th>
      <td>土日・祝祭日・GW・お盆・年末年始</td>
    </tr>
    <tr>
      <th>仕事内容</th>
      <td>・各現場作業<br>・営業<br>・その他</td>
    </tr>
  </table>

  <h3 class="title">
    応募先
  </h3>
  <div class="address">
    <p>〒561-0883　大阪府豊中市岡町南１丁目６−１３</p>
    <p>株式会社トライズ宛</p>
    <p>※その他、ご質問など選考前にどうしても聞いておきたいことなどがございましたら、「お問い合わせフォーム」またはお電話にてご連絡をいただければ幸いです。</p>
    <span>※現在募集はしておりません。</span>
  </div>

</div>


<%= render 'tops/bottom' %>