/*作業項目のみ*/
.performances-details {
  width: 100%;
  height: 550px;
  padding: 0 10px;
  .details {
    margin-bottom: 50px;
    h5 {
      text-decoration:underline;
      text-decoration-color: black;
    }
    p {
      font-weight: 300;
    }
  }
}
