@mixin inner {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #000;
}

.philosophies {
  width: 100%;
  height: 2550px;
  .inner1 {
    @include inner;
    img {
      margin-bottom: 50px;
    }
  }
  .inner2, .inner3, .inner4, .inner5, .inner6, .inner7, .inner8 {
    @include inner;
  }
  .inner9 {
    @include inner;
    img {
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }

  /*企業理念ページすべてのinner-titleに適用*/
  .inner-title {
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
    border: none;
    margin-bottom: 0;
    color: #a10000;
  }
  /*pに適用*/
  p {
    font-size: 22px;
    font-weight: bold;
    font-family: YuGothic;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
