@import "reset";
@import "bootstrap/bootstrap.min";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-grid.min";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot.min";
@import "bootstrap/bootstrap-reboot";
@import "slick/slick";
@import "slick/slick-theme";
@import "tops/index";
@import "tops/top";
@import "tops/bottom";
@import "performances";
@import "philosophies";
@import "recruits";
@import "services";
@import "companies";
@import "messages";
@import "electricities";
@import "contacts";

/*ページ共通navbar*/
.navbar {
  height: 30px;
  width: 100vw;
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: 30px;
  ul {
    height: 100%;
    line-height: 100%;
    li {
      display: inline;
      font-size: 15px;
    }
  }
}

/*ページ共通メインレイアウトとタイトル*/
.main {
  width: 100vw;
  height: 650px;
  padding: 0 20%;
  h3 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-left: solid #815492 5px;
    padding-left: 15px;
    border-bottom: solid 1px;
    margin-bottom: 40px;
  }
}