<%= render 'tops/top' %>

<div class="navbar">
  <span><%= link_to "HOME", root_path %></span>
  <span>></span>
  <span>工事実績</span>
</div>

<div class="performances-main">
  <h1 class="performances-title">
    工事実績
  </h1>
  <div class="performances-details">
    <div class="details">
      <h3>クリーンルーム作業</h3>
      <p>日本国内、海外企業の工場内クリーンルーム・病院の手術室・食品工場等の空調設備の設置工事・組立・測定作業等</p>
      <p>国内 : 某有名企業他</p>
      <p>海外:台湾・中国・韓国等の某有名企業</p>
    </div>
    <div class="details">
      <h3>サーバー室サーバーラックのキャッピング工事</h3>
      <p>国内某データセンター・研究所他</p>
    </div>
    <div class="details">
      <h3>インターネット工事</h3>
      <p>関西を拠点に、四国・中国地方の集合住宅向けインターネット設備工事</p>
    </div>
    <div class="details">
      <h3>現場作業</h3>
      <p>25年以上の経験・ノウハウを生かした現場作業</p>
      <p>各建築現場にて実績を上げてきました。</p>
    </div>
  </div>
</div>

<%= render 'tops/bottom' %>