<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "会社概要", companies_path %></li>
    <li>></li>
    <li>企業理念</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    企業理念
  </h3>

  <div class="philosophies">
    <div class="innner1">
    </div>
    <div class="innner2">
    </div>
    <div class="innner3">
    </div>
    <div class="innner4">
    </div>
    <div class="innner5">
    </div>
    <div class="innner6">
    </div>
    <div class="innner7">
    </div>
    <div class="innner8">
    </div>
    <div class="innner9">
    </div>
  </div>
  

</div>


<%= render 'tops/bottom' %>