<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "会社概要", companies_path %></li>
    <li>></li>
    <li>企業理念</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    企業理念
  </h3>

  <div class="philosophies">

    <div class="inner1">
      <img src="rinen.jpg">
      <h3 class="inner-title">企業理念</h3>
    </div>

    <div class="inner2">
      <p>
        社員個々が日々向上心を持ち、<br>
        企業価値を高め、<br>
        信頼を得、社会・顧客に貢献しなければならない。
      </p>
    </div>

    <div class="inner3">
      <h3 class="inner-title">経営理念</h3>
    </div>

    <div class="inner4">
      <p>
        お客様に、感謝=幸せ(感謝はお客様が感じ、幸せは自社が感じる)を<br>
        定義とし、これを志にして感謝をして頂けるよう<br>
        社員の教育・技術の向上・事業拡大に努め企業発展させていきます。
      </p>
    </div>

    <div class="inner5">
      <p>お客様にとっていつでも声を掛けられ使い勝手の良い会社でありたい。</p>
    </div>

    <div class="inner6">
      <h3 class="inner-title">行動指針</h3>
    </div>

    <div class="inner7">
      <p>
        顧客第一主義<br>
        社員個々が日々向上心<br>
        <br>
        気配り・思いやり・品格のある行動
      </p>
    </div>

    <div class="inner8">
      <h3 class="inner-title">五心領</h3>
    </div>

    <div class="inner9">
      <img src="gosinryou.jpg">
      <p>
        滅私奉公<br>
        私利私欲を捨て、社会・会社に尽くすこと<br>
        <br>
        不撓不屈<br>
        強い意志を持ち、どんな苦労・困難に挫けないこと<br>
        <br>
        品行方正<br>
        心・行動が正しく立派なこと<br>
        <br>
        公明正大<br>
        公平で私心がなく、隠し事せず、堂々とすること<br>
        <br>
        一路邁進<br>
        目的を達成するために突き進むこと
      </p>
    </div>

  </div>
  
</div>


<%= render 'tops/bottom' %>