<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li><%= link_to "会社概要", companies_path %></li>
    <li>></li>
    <li>企業理念</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    企業理念
  </h3>
  

</div>


<%= render 'tops/bottom' %>